{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for hotel in hotels %}
<div class="container hotel mt-2" style="background:aliceblue">
    <div class="row">
        <div class="col">
            <img style="height: 200px; width: 200px;" src={% static hotel.image %} alt="">
        </div>
        <div class="col-8">
            <H1 class="lead">{{hotel.name}}</H1>
            <h6>{{hotel.description}}</h6>
            <h6>{{hotel.location}}</h6>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
